{% extends "portal/base.html" %}
{% block content %}
<article class="mx-5">
	<h2>What is Rockslide?</h2>
	<p>RockSlide is the USU Department of Computer Science's new micro-supercomputer. RockSlide allows students to upload, compile, and run parallel programs on a (micro-)supercomputer.</p> 
<article>
	<h2>Meet the Nodes</h2>
	<table class="table">
		<caption>List of Cluster Nodes</caption>
		<thead>
			<tr>
				<th scope="col">Name</th>
				<th scope="col">Node Type</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Clustor the Destroyer</td>
				<td>Raspberry Pi</td>
			</tr>
			<tr>
				<td>Balin</td>
				<td>Orange Pi</td>
			</tr>
			<tr>
				<td>Bifur</td>
				<td>Orange Pi</td>
			</tr>
			<tr>
				<td>Biblo</td>
				<td>Orange Pi</td>
			</tr>
			<tr>
				<td>Bofur</td>
				<td>Rock64</td>
			</tr>
			<tr>
				<td>Dori</td>
				<td>Orange Pi</td>
			</tr>
			<tr>
				<td>Dwalin</td>
				<td>Orange Pi</td>
			</tr>
			<tr>
				<td>Fili</td>
				<td>Rock64</td>
			</tr>
			<tr>
				<td>Gloin</td>
				<td>Orange Pi</td>
			</tr>
			<tr>
				<td>Kili</td>
				<td>Orange Pi</td>
			</tr>
			<tr>
				<td>Nori</td>
				<td>Orange Pi</td>
			</tr>
			<tr>
				<td>Oin</td>
				<td>Rock64</td>
			</tr>
			<tr>
				<td>Ori</td>
				<td>Orange Pi</td>
			</tr>
			<tr>
				<td>Thorin</td>
				<td>Orange Pi</td>
			</tr>
		</tbody>
	</table>

{% endblock content %}
