{% extends "portal/base.html" %}
{% block content %}

<div class="m-3">
    <form method="post" action="/login/">
	{% csrf_token %}
        <div class="pb-1">
            <div class="form-group col-md-3">
                <label for="logEmail">Username</label>
                <input type="text" class="form-control" id="logEmail" placeholder="Username" name="username">
          </div>
        </div>
        <div class="pb-3">
            <div class="form-group col-md-3">
              <label for="logPassword">Password</label>
              <input type="password" class="form-control" id="logPassword" placeholder="Password" name="password">
            </div>
        </div>
        
        <button type="register" class="btn btn-primary">Login</button>
    </form>
    <div class="pt-2">
        <a class="link" href="#">Register</a>
      </div>
  </div>

{% endblock content %}
