{% extends "portal/base.html" %}
{% block content %}

<div class="m-3">
<form method="post" action="/register/">
	{% csrf_token %}
	{% for field in form %}
	<div class="pb-3">
		<div class="form-group col-md-3">
		{{ field.label_tag }}
		{{ field }}
		{% if field.help_text %}
		<small style="color: grey">{{ field.help_text }}</small>
		{% endif %}
		{% for error in field.errors %}
			<p style="color:red">{{ error }}</p>
		{% endfor %}
		</div>
	</div>
	{% endfor %}
    <button type="register" class="btn btn-primary">Register</button>
</form>
  <div class="pt-2">
    <a class="link" href="/login/">Login</a>
  </div>
</div>

{% endblock content %}
